@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

/*  */

strong {
  margin-top: 100px;
  padding-top: 100px;
}

p aside {
  background-color: #1f1f1f;
  /* border: 1px red solid; */
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
}

p {
  color: whitesmoke;
  margin: 20px 2px 3px;
  /* font-weight: bold; */
  font-size: 18px;
}

h1 {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
}

h3 {
  /* border: 1px solid red; */
  margin-top: 50px;
  font-weight: bold;
  font-size: larger;
}

li {
  /* color: red; */
  margin: 5px 20px 0px;
  list-style: disc;
}

blockquote {
  border-left: 2px solid yellow;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: #1f1f1f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

blockquote p {
  margin: 0;
}

span p {
  border: 1px solid red;
}

/* p::first-letter {} */

.verses {
  border: 1px solid red;
}

#verses {
  border: 1px solid red;
}